.navbar-brand {
    padding: 1.5rem 1.5rem;
    *:not(img) {
        font-family: $font-secondary;
        font-weight: 700;
        color: inherit;
        line-height: 1;
        margin: 0;
    }
}
.navbar-toggler {
    &:not(.collapsed) {
        @extend .is-active;
    }
}
.hamburger-inner {
    &,
    &:before,
    &:after {
        background-color: $color-primary;
    }
}