@import '~flexslider/flexslider.css';

.flexslider {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    overflow: hidden;
    z-index: 0;
    &,
    .slides,
    .slides li {
        height: $slider-subpage-height;
        @media #{$min-md} {
            height: $slider-md-height;
        }
    }
    .slides {
        li {
            position: relative;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: none;
                object-fit: cover;
            }
        }
    }
    @import './flexslider-dots';
    @import './flexslider-arrows';
}