.slider-caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 20;
    &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &-main {
        font-family: $font-secondary;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
        @media #{$min-md} {
            font-size: 3.5rem;
        }
        @media #{$min-lg} {
            font-size: 4rem;
        }
    }
    &-text {
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 0;
    }
}