root = true
end_of_line = lf
insert_final_newline = true

charset = utf-8

indent_style = space
indent_size = 4

prettier.tabWidth = 4
prettier.singleQuote = true
prettier.bracketSpacing = false
prettier.disableLanguages = []