<form class="form" id="{{@formName}}" action="{{@path->mail()}}" @submit.prevent="sendMail('{{@formName}}')">
    <div class="form-alert form-alert-sending">
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
    <div class="form-alert form-alert-success">
        <i class="fa fa-check"></i>
    </div>
    <div class="form-alert form-alert-failure">
        <i class="fa fa-close"></i>
    </div>
    <input type="hidden" name="formName" value="{{@formName}}">
    <input type="hidden" name="from" value="{{@formData.options.from}}">
    <input type="hidden" name="to" value="{{@formData.options.to}}">
    <input type="hidden" name="topic" value="{{@formData.options.topic}}">
    <input type="hidden" name="template" value="{{@formData.options.template}}">

    <repeat group="{{@formData.form}}" key="{{@key}}" value="{{@val}}">
        <check if="{{@val['type'] === 'text' || @val['type'] === 'email' || @val['type'] === 'tel' || @val['type'] === 'number' || @val['type'] === 'password' || @val['type'] === 'hidden'}}">
            <div class="form-group">
                <label for="{{@val['name']}}">{{@val['label']}}</label>
                <input type="{{@val['type']}}" class="form-control" name="{{@val['name']}}" id="{{@val['name']}}" placeholder="{{@val['placeholder'] ? @val['placeholder'] : null}}"
                    required="{{@val['required'] ? @val['required'] : false}}">
            </div>
        </check>
        <check if="{{@val['type'] === 'textarea'}}">
            <div class="form-group">
                <label for="{{@val['name']}}">{{@val['label']}}</label>
                <textarea class="form-control" name="{{@val['name']}}" id="name" placeholder="{{@val['placeholder'] ? @val['placeholder'] : null}}"
                    required="{{@val['required'] ? @val['required'] : false}}" rows="{{@val['rows'] ? @val['rows'] : 3}}"></textarea>
            </div>
        </check>
        <check if="{{@val['type'] === 'separator'}}">
            <hr class="separator">
        </check>
        <check if="{{@val['type'] === 'radio' || @val['type'] === 'checkbox'}}">
            <div class="form-group">
                <check if="{{@val['label']}}">
                    <label for="{{@val['name']}}">{{@val['label']}}</label>
                </check>
                <repeat group="{{@val['options']}}" value="{{@option}}">
                    <div class="{{@val['type']}}">
                        <check if="{{@val['rodo']}}">
                            <div class="rodo-tooltip" :class="rodo.info ? 'is-visible' : null">
                                {{@val['rodo']}}
                            </div>
                            <div class="rodo-warning" v-show="rodo.warning">
                                {{@t.rodo.warning}}
                            </div>
                        </check>
                        <label>
                            <input type="{{@val['type']}}" name="{{@val['name']}}" id="{{@val['name']}}-{{@formName}}" @change="checkRodoWarning" v-model="rodo.checkbox"> {{@option}}
                        </label>
                    </div>
                </repeat>
            </div>
        </check>
        <check if="{{@val['type'] === 'select'}}">
            <select class="form-control" {{@val[ 'multiselect'] ? 'multiple' : null}}>
                <option disabled selected>{{@val['label']}}</option>
                <repeat group="{{@val['options']}}" value="{{@option}}">
                    <option name="{{@val['name']}}" value="{{@option}}">{{@option}}</option>
                </repeat>
            </select>
        </check>
    </repeat>
    <check if="{{@config->recaptcha}}">
        <input type="hidden" name="secretKey" value="{{@formData.recaptcha.secretKey}}">
        <div class="g-recaptcha" data-sitekey="{{@formData.recaptcha.siteKey}}"></div>
    </check>
    <button class="btn" type="submit">{{@t['submit']}}</button>
</form>