<!DOCTYPE html>
<html lang="{{@lang->current}}">

<head>
    <base href="{{@BASE}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Piotr Golczyk / pete-gi.github.io">
    <meta name="keywords" content="{{@page->seo['keywords']}}">
    <meta name="description" content="{{@page->seo['description']}}">
    <meta id="GoogleMapsApiKey" name="GoogleMapsApiKey" content="{{@config->GoogleMapsApiKey}}">
    <title>{{@page->seo['title'] ? @page->seo['title'] : @page->name}}</title>
    <check if="{{@config->preloader}}">
        <link rel="stylesheet" href="{{@path->css('preloader.css')}}">
    </check>
    <link rel="stylesheet" href="{{@path->css('libs.css')}}">
    <link rel="stylesheet" href="{{@path->css('index.css')}}">
    <check if="{{@user->getAuth()}}">
        <link rel="stylesheet" type="text/css" href="{{@path->css('content-tools.min.css')}}">
    </check>
    <link rel="icon" href="{{@path->img('favicon.ico')}}">
    <!-- FONT -->

    <check if="{{@config->preloader}}">
        <script defer src="{{@path->js('preloader.js')}}"></script>
    </check>
    <script defer src="{{@path->js('index.js')}}"></script>
    {{@componentsStyles}}
    {{@componentsScripts}}
    <check if="{{@config->recaptcha}}">
        <script defer src='https://www.google.com/recaptcha/api.js'></script>
    </check>
</head>

<body>
    <div id="page" class="page page-default" data-page="{{@page->key}}" @click="rodo.info = false">

        <check if="{{@config->preloader}}">
            <div id="page-preloader" class="is-active">
                <include href="{{@path->partial('preloader')}}" />
            </div>
        </check>

        <check if="{{@config->siteSocialIcons}}">
            <include href="{{@path->partial('social-icons')}}" />
        </check>

        <include href="{{@path->partial('page-nav/bootstrap4')}}" />
        <include href="{{@path->partial('page-slider/flexslider')}}" />

        <include href="{{@path->page(@page->key)}}" />

        <button class="scroll-top js-scroll-top">
            <i class="fa fa-angle-up"></i>
        </button>

        <include href="{{@path->partial('page-footer/default')}}" />

        <cookies />

    </div>
</body>

</html>