<section id="page-slider" class="page--slider section">
    <div class="flexslider">
        <ul class="slides clearfix">
            <li><img src="{{@path->img('slider/s1.jpg')}}" alt=""></li>
            <li><img src="{{@path->img('slider/s1.jpg')}}" alt=""></li>
        </ul>
    </div>
    <div class="slider-caption">
        <div class="container">
            <h1 class="slider-caption-main">
                
            </h1>
            <p class="slider-caption-text">

            </p>
        </div>
    </div>
</section>