<section id="page-slider" class="page--slider section">
    <div class="flexslider">
        <ul class="slides clearfix">
            <li><img src="{{@path->img('s1.jpg')}}" alt=""></li>
        </ul>
        <div class="slider-caption">
            <div class="container">
                <div class="slider-caption-box">
                    <h1 class="slider-caption-main">
                    
                    </h1>
                    <p class="slider-caption-text">
        
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>