<div class="accordion">
    <button class="btn">Accordion 1</button>
    <div class="accordion-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a in eius quis quibusdam ipsam, officia pariatur, velit eligendi architecto ipsum nemo possimus corporis repellat id sapiente eaque praesentium nesciunt.
        </p>
    </div>
</div>
<div class="accordion">
    <button class="btn">Accordion 2</button>
    <div class="accordion-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a in eius quis quibusdam ipsam, officia pariatur, velit eligendi architecto ipsum nemo possimus corporis repellat id sapiente eaque praesentium nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a in eius quis quibusdam ipsam, officia pariatur, velit eligendi architecto ipsum nemo possimus corporis repellat id sapiente eaque praesentium nesciunt.
        </p>
    </div>
</div>
<div class="accordion">
    <button class="btn">Accordion 2</button>
    <div class="accordion-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a in eius quis quibusdam ipsam, officia pariatur, velit eligendi architecto ipsum nemo possimus corporis repellat id sapiente eaque praesentium nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a in eius quis quibusdam ipsam, officia pariatur, velit eligendi architecto ipsum nemo possimus corporis repellat id sapiente eaque praesentium nesciunt.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a in eius quis quibusdam ipsam, officia pariatur, velit eligendi architecto ipsum nemo possimus corporis repellat id sapiente eaque praesentium nesciunt.
        </p>
    </div>
</div>