<!-- KARTA VERTYKALNA -->
<div class="cards-container">
    <div class="card">
        <div class="card-img">
            <img src="{{@path->img('img-side.jpg')}}" alt="">
        </div>
        <div class="card-content">
            <h3 class="card-content-title">
                Tytuł
            </h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa aut est dolor ab, blanditiis deserunt quibusdam, aliquam error, eaque id recusandae amet?
            </p>
        </div>
        <a href="{{@path->url('oferta')}}" class="btn">Zobacz więcej</a>
    </div>
</div>

<!-- KARTA HORYZONTALNA -->
<div class="cards-container">
    <div class="card card-h">
        <div class="card-img">
            <img src="{{@path->img('img-side.jpg')}}" alt="">
        </div>
        <div class="card-content">
            <h3 class="card-content-title">
                Tytuł
            </h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa aut est dolor ab, blanditiis deserunt quibusdam, aliquam error, eaque id recusandae amet?
            </p>
            <a href="{{@path->url('oferta')}}" class="btn">Zobacz więcej</a>
        </div>
    </div>
</div>