<parallax img="{{@path->img('slider/s1.jpg')}}" height="500px">
    <div class="container">
        <h4 class="parallax-title">
            Tytuł parallaxa
        </h4>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit quasi explicabo libero deserunt laudantium. Soluta inventore
            voluptate doloribus rem illo. Velit eveniet maiores accusantium odio distinctio, id molestias rerum enim!
        </p>
        <a href="{{@path->url('oferta')}}" class="btn">Zobacz więcej</a>
    </div>
</parallax>