.nav-link-active {
    color: $nav-item-hover-color;
    background-color: transparent;
    @media #{$min-md} {
        color: $nav-item-hover-color-md;
    }
    &:before {
        opacity: 1;
    }
}