@mixin section {
    float: left;
    width: 100%;
    position: relative;
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
}

@mixin gradient($from, $to, $deg) {
    background: rgba($from, 1);
    background: linear-gradient($deg, rgba($from, 1) 0%, rgba($to, 1) 100%);
}

// Mixin pozwalajacy ustawienie 'color' i 'background' zaznaczonego tekstu
@mixin selection {
    &::selection {
        @content;
    }
}