// SIZES
$min-xs: '(min-width: 768px)';
$min-sm: '(min-width: 992px)';
$min-md: '(min-width: 1200px)';
$min-lg: '(min-width: 1600px)';

$max-xs: '(max-width: 767px)';
$max-sm: '(max-width: 991px)';
$max-md: '(max-width: 1199px)';
$max-lg: '(max-width: 1599px)';

// COLORS
$white: #fff;
$black: #000;
$color-text: #222;

$color-primary: #222;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);

$color-secondary: #777;
$color-secondary-light: lighten($color-secondary, 15%);
$color-secondary-dark: darken($color-secondary, 15%);

$color-triary: #777;
$color-triary-light: lighten($color-triary, 15%);
$color-triary-dark: darken($color-triary, 15%);

// FONTS
$font-primary: sans-serif;
$font-secondary: sans-serif;