// SIZES
$min-sm: '(min-width: 576px)';
$min-md: '(min-width: 768px)';
$min-lg: '(min-width: 992px)';
$min-xl: '(min-width: 1200px)';

$max-sm: '(max-width: 575px)';
$max-md: '(max-width: 767px)';
$max-lg: '(max-width: 991px)';
$max-xl: '(max-width: 1199px)';

$from-mobile: '(min-width: 576px)';
$from-tablet: '(min-width: 768px)';
$from-desktop: '(min-width: 992px)';
$from-wide: '(min-width: 1200px)';

$to-mobile: '(max-width: 575px)';
$to-tablet: '(max-width: 767px)';
$to-desktop: '(max-width: 991px)';
$to-wide: '(max-width: 1199px)';

// COLORS
$white: #fff;
$black: #000;
$color-text: #222;
$color-white: #fff;
$color-black: #000;

$color-primary: #222;
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);

$color-secondary: #777;
$color-secondary-light: lighten($color-secondary, 15%);
$color-secondary-dark: darken($color-secondary, 15%);

$color-triary: #777;
$color-triary-light: lighten($color-triary, 15%);
$color-triary-dark: darken($color-triary, 15%);

// FONTS
$font-primary: '', sans-serif;
$font-secondary: '', sans-serif;