.card-container, .cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
}
.card {
    &-full {
        width: 100%;
    }
    &:not(.card-full) {
        margin: 1.5rem;
        width: calc(100% - 3rem);
        @media #{$min-xs} {
            width: calc(100% / 2 - 3rem);
        }
        @media #{$min-sm} {
            width: calc(100% / 3 - 3rem);
        }
        @media #{$min-md} {
            width: calc(100% / 4 - 3rem);
        }
        // @media #{$min-lg} {
        //     width: calc(100% / 5 - 3rem);
        // }
    }
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    border: 0px;
    border-radius: 4px;
    box-shadow: 2px 2px 15px 0 darken($white, 15%);
    transition-duration: 0.3s;
    &-img {
        @include section;
        overflow: hidden;
        height: 20rem;
        z-index: 0;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            max-width: none;
            transform: translate(-50%, -50%) scale(1);
            transition-duration: 0.6s;
            z-index: -1;
        }
    }
    &-content {
        @include section;
        padding: 1rem 1.5rem;
        background-color: $white;
        overflow: hidden;
        color: $color-text;
        font-size: 1.5rem;
        line-height: 1.6;
        transition-duration: 0.6s;
    }
    &-content-title {
        margin: 0.5rem 0;
        font-size: 1.8rem;
        font-weight: 700;
    }
    .btn, .button {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    &:hover, &:focus {
        box-shadow: 4px 4px 25px 0 darken($white, 25%);
        .card-img {
            img {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
        .card-content {
            color: $white;
            background-color: $color-primary;
        }
    }
    // KARTA WERTYKALNA
    &.card-h {
        flex-direction: row;
        align-items: stretch;
        @media #{$min-xs} {
            width: calc(100% - 3rem);
        }
        @media #{$min-lg} {
            width: calc(100% / 2 - 3rem);
        }
        .card-img {
            width: 40%;
            height: auto;
            min-height: 100%;
        }
        .card-content {
            width: 60%;
            padding: 1.5rem 0 0;
            & > *:not(.btn), & > *:not(.button) {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
    }
}