$color: #fff;
$backgroundColor: #333;
$borderColor: $color-primary;
#cookies-container {
    max-width: 200px;
    font-size: 12px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 2000;
    background-color: $backgroundColor;
    padding: 20px 10px;
    background-image: url('../img/img-cookies.png');
    background-repeat: no-repeat;
    background-position: center right;
    border: 1px solid $borderColor;
    border-right: 0px;
    border-bottom: 0px;
    line-height: 120%;
    color: $color;
    @media #{$max-sm} {
        max-width: initial;
        width: 100%;
    }
    br {
        @media #{$max-sm} {
            display: none;
        }
    }
    .title {
        margin: 0px 0px 10px;
        font-size: 13px;
    }
    .content {
        max-width: 140px;
        margin-right: 30px;
        @media #{$max-sm} {
            width: 100%;
            max-width: initial;
            text-align: center;
        }
    }
}

#cookies-close {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $borderColor;
    border: 0;
    margin: 0;
    padding: 5px 8px;
    color: #FFFFFF;
    cursor: pointer;
    @media #{$max-sm} {
        font-size: 30px;
        top: -41px;
    }
    .fa {
        margin-right: 0px;
    }
}