@import '~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';

$scrollbar-width: 10px;
$border-radius: 5px;
$rail-color: darken($white, 30%);
$dragger-color: lighten($black, 30%);

#page {
    max-height: 100vh;
}

.mCSB_draggerRail {
    width: $scrollbar-width!important;
    margin: 0!important;
    background-color: $rail-color!important;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}
.mCSB_dragger_bar {
    width: $scrollbar-width!important;
    background-color: $dragger-color!important;
}
.mCSB_scrollTools_vertical {
    width: $scrollbar-width!important;
    margin: 0!important;
}