@import './_form-rodo';
.form {
    @include section;
    z-index: 0;
    .form-group {
        position: relative;
        label {}
        .form-control {
            font-size: 1.6rem;
            border: 0;
            border-bottom: 1px solid $color-primary;
            border-radius: 0;
        }
    }
}

.form-alert {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    font-size: 0rem;
    &-sending {
        color: $black;
        background-color: rgba($white, 0.65);
        @at-root .form.form-sending & {
            opacity: 1;
            z-index: 10;
            font-size: 20rem;
            transition: opacity 0.3s 0s, font-size 0.2s 0.2s, z-index 0s 0s;
        }
    }
    &-success {
        color: $white;
        background-color: rgba(#26d608, 0.65);
        @at-root .form.form-success & {
            opacity: 1;
            z-index: 10;
            font-size: 20rem;
            transition: opacity 0.3s 0s, font-size 0.2s 0.2s, z-index 0s 0s;
        }
    }
    &-failure {
        color: $white;
        background-color: rgba(#da0f0f, 0.65);
        @at-root .form.form-failure & {
            opacity: 1;
            z-index: 10;
            font-size: 20rem;
            transition: opacity 0.3s 0s, font-size 0.2s 0.2s, z-index 0s 0s;
        }
    }
}

.form-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0;
    z-index: -1;
    &.is-active {
        opacity: 0.5;
        z-index: 10;
        transition: opacity 0.3s 0s, z-index 0s 0s;
    }
}

.button {
    $sending: #cccccc;
    $success: #00e100;
    $failure: #e10000;
    &--awesome {
        span {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.3s 0s, color 0.3s 0s, background-color 0.3s 0s, font-size 0.2s 0s, z-index 0s 0s;
        }
    }
    &:not(.button--false) {
        color: transparent;
        span {
            z-index: 1;
        }
    }
    &--sending {
        .sending {
            color: $black;
            background-color: $sending;
            opacity: 1;
        }
    }
    &--success {
        .success {
            color: $white;
            background-color: $success;
            opacity: 1;
        }
    }
    &--failure {
        .failure {
            color: $white;
            background-color: $failure;
            opacity: 1;
        }
    }
}