@import '../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css';
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -0.5rem 3rem;
    [data-fancybox], .gallery-item {
        position: relative;
        overflow: hidden;
        margin: 0.5rem;
        z-index: 0;
        width: calc(100% / 2 - 1rem);
        @media #{$min-xs} {
            width: calc(100% / 3 - 1rem);
        }
        @media #{$min-sm} {
            width: calc(100% / 4 - 1rem);
        }
        @media #{$min-md} {
            width: calc(100% / 5 - 1rem);
        }
        @media #{$min-lg} {
            width: calc(100% / 6 - 1rem);
        }
        &:after {
            content: '\f002';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: $white;
            background-color: rgba($color-primary, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: FontAwesome;
            font-size: 2.4rem;
            opacity: 0;
            transition-duration: 0.2s;
            z-index: 1;
        }
        &:hover,
        &:focus {
            &:after {
                opacity: 1;
            }
        }
    }
}

