.padd-v {
    padding: 4rem 0;
    @media #{$min-xs} {
        padding: 5rem 0;
    }
    @media #{$min-sm} {
        padding: 6rem 0;
    }
    @media #{$min-md} {
        padding: 7rem 0;
    }
    @media #{$min-lg} {
        padding: 8rem 0;
    }
}
.padd-v-min {
    padding: 1rem 0;
    @media #{$min-xs} {
        padding: 1.5rem 0;
    }
    @media #{$min-md} {
        padding: 2rem 0;
    }
    @media #{$min-lg} {
        padding: 3rem 0;
    }
}
.padd-v-max {
    padding: 8rem 0;
    @media #{$min-xs} {
        padding: 10rem 0;
    }
    @media #{$min-md} {
        padding: 12rem 0;
    }
    @media #{$min-lg} {
        padding: 14rem 0;
    }
}

.marg-top {
    margin-top: 4rem;
}
.marg-top-2 {
    margin-top: 8rem;
}
.marg-bottom {
    margin-bottom: 4rem;
}
.marg-bottom-2 {
    margin-bottom: 8rem;
}

.separator, .sep {
    @include section;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 1rem 0;
    background-color: darken($white, 25%);
    &--primary {
        background-color: $color-primary;
    }
    &--secondary {
        background-color: $color-secondary;
    }
}

.font-primary {
    font-family: $font-primary;
}
.font-secondary {
    font-family: $font-secondary;
}

.bg-white {
    color: $color-text;
    background-color: $white;
}
.bg-black {
    color: invert($color-text);
    background-color: $black;
}
.bg-primary {
    background-color: $color-primary;
}
.bg-secondary {
    background-color: $color-secondary;
}
.bg-triary {
    background-color: $color-triary;
}

.overflow {
    &-hidden {
        overflow: hidden;
    }
    &-x-hidden {
        overflow-x: hidden;
    }
    &-y-hidden {
        overflow-y: hidden;
    }
}