.padd-v {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media #{$min-sm} {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    @media #{$min-md} {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    @media #{$min-lg} {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    @media #{$min-xl} {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
.padd-v-min {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media #{$min-sm} {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    @media #{$min-lg} {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @media #{$min-xl} {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
.padd-v-max {
    padding-top: 8rem 0;
    padding-bottom: 8rem 0;
    @media #{$min-sm} {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    @media #{$min-lg} {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    @media #{$min-xl} {
        padding-top: 14rem;
        padding-bottom: 14rem;
    }
}

.marg-top {
    margin-top: 4rem;
}
.marg-top-2 {
    margin-top: 8rem;
}
.marg-bottom {
    margin-bottom: 4rem;
}
.marg-bottom-2 {
    margin-bottom: 8rem;
}

.separator, .sep {
    @include section;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 1rem 0;
    background-color: darken($white, 25%);
    &--primary {
        background-color: $color-primary;
    }
    &--secondary {
        background-color: $color-secondary;
    }
}

.page {
    .font-primary {
        font-family: $font-primary;
    }
    .font-secondary {
        font-family: $font-secondary;
    }
    
    .bg-primary {
        background-color: $color-primary;
    }
    .bg-secondary {
        background-color: $color-secondary;
    }
    .bg-triary {
        background-color: $color-triary;
    }
    .bg-white {
        color: $color-text;
        background-color: $white;
    }
    .bg-black {
        color: invert($color-text);
        background-color: $black;
    }
    
    .color-primary {
        color: $color-primary;
    }
    .color-secondary {
        color: $color-secondary;
    }
    .color-triary {
        color: $color-triary;
    }
    .color-white {
        color: $white;
    }
    .color-black {
        color: $black;
    }
}

.overflow {
    &-hidden {
        overflow: hidden;
    }
    &-x-hidden {
        overflow-x: hidden;
    }
    &-y-hidden {
        overflow-y: hidden;
    }
}