.page--nav {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    z-index: 20;
    position: relative;
    @import './nav/nav-header';
    .navbar-collapse {
        
    }
    .navbar-nav {
        
    }
    li.nav-item {
        a.nav-link {
            @import './nav/nav-item';
            &:hover,
            &:focus {
                @extend .nav-link-active;
            }
        }
        &.active a.nav-link {
            &,
            &:hover,
            &:focus {
                @extend .nav-link-active;
            }
        }
        &.dropdown {
            @import './nav/nav-dropdown';
        }
    }
}
@import './nav/nav-inverted';