@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

.page--nav {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    z-index: 20;
    position: relative;
    box-shadow: 0 0 0 0 transparent;
    background-color: transparent;
    @media #{$min-md} {
        background-color: transparent;
    }
    @import './nav/nav-header';
    .navbar-collapse {
        
    }
    .navbar-nav {
        
    }
    li.nav-item {
        @import './nav/nav-item';
        &.dropdown {
            @import './nav/nav-dropdown';
        }
    }
}
// @import './page-nav-inverted';