// WYSOKOSC SLIDERA
$slider-subpage-height: 50rem;
$slider-md-height: 100vh;
@import './slider/flexslider';
@import './slider/slider-caption';

.page--slider {
    z-index: 10;
    @at-root #page:not([data-page="index"]) & {
        max-height: $slider-subpage-height;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
}