.parallax-section {
    @include section;
    overflow: hidden;
    z-index: 0;
    .parallax-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        transform: translateY(-50%);
        z-index: 10;
    }
    .parallax-title {
        font-family: $font-secondary;
        font-size: 4rem;
        font-weight: 700;
        margin: 0 0 3rem;
        line-height: 1.4;
    }
    .btn, .button {
        margin: 2rem 0 0;
    }
}