.s-icons {
    @media #{$max-sm} {
        display: none;
    }
    position: fixed;
    top: 25rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &-left {
        left: 0;
        align-items: flex-start;
        .si {
            span {
                transform-origin: 0 50%;
            }
        }
    }
    &-right {
        right: 0;
        align-items: flex-end;
        .si {
            flex-direction: row-reverse;
            span {
                transform-origin: 100% 50%;
            }
        }
    }
}

.si {
    width: 48px;
    height: 48px;
    margin: 1px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white;
    position: relative;
    transition-duration: 0.2s;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        background-color: $white;
        transition-duration: 0.2s;
    }
    .fa {
        width: 48px;
        min-width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    span {
        font-size: 15px;
        font-weight: 300;
        transform: scaleX(0);
        transition-duration: 0.2s;
    }
    &:hover,
    &:focus {
        color: $white;
        width: 48px * 3;
        &:after {
            opacity: 0.1;
        }
        span {
            transform: scaleX(1);
        }
    }
    &--facebook {
        background-color: #3b5999;
    }
    &--instagram {
        background-color: #e4405f;
    }
    &--linkedin {
        background-color: #0077B5;
    }
    &--youtube {
        background-color: #cd201f;
    }
    &--google-plus {
        background-color: #dd4b39;
    }
    &--twitter {
        background-color: #55acee;
    }
    &--tripadvisor {
        background-color: #00a680;
    }
}