<!DOCTYPE html>
<html lang="{{@config->multilang ? @lang->current : 'pl'}}">

<head>
    <base href="{{@BASE}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{@config->siteName}}</title>
    <link rel="stylesheet" href="{{@path->css('index.css')}}">
    <link rel="icon" href="{{@path->img('favicon.ico')}}">
</head>

<body>
    <div id="page" class="page page-default" data-page="{{@page->key}}">

        <main class="page--main section">