<?php include("view/error/_top.html") ?>

<section class="section padd-v">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">
                    <?php echo \Base::instance()->get('t.error') ?> <?php echo \Base::instance()->get('ERROR.code') ?>
                </h1>
                <p>
                    <?php echo \Base::instance()->get('ERROR.message') ?>
                </p>
                <p>
                    <?php var_dump(\Base::instance()->get('ERROR')) ?>
                </p>
            </div>
        </div>
    </div>
</section>

<?php include("view/error/_bottom.html") ?>