<!DOCTYPE html>
<html lang="{{@lang->current}}">

<head>
    <base href="{{@BASE}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div id="page" class="page">

        <main class="page-main section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="{{@BASE}}/login" method="POST">
                            <div class="form-group">
                                <label for="username">Login</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Hasło</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button class="btn btn-primary btn-lg">Zaloguj</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <!-- <script src="app/public/assets/js/auth.js"></script> -->
</body>

</html>